<div class="box">
    <div class="ctrl" [ngClass]="Ctrl">
        <div class="port" [ngClass]="Port"></div>
        <div class="right">
            <div class="sc" [ngClass]="Sc">
            </div>
            <div class="mc" >
                {{move}}
            </div>
            <div class="cs" [ngClass]="Cs">
            </div>
        </div>
        <div class="title">{{title}}</div>
    </div>
    <div class="progress">
        <span class="bar" [style.width.%]="rate" [ngClass]="percentage"> </span>
        <span class="value">{{current}}/{{max}}</span>
    </div>
    <div class="progress">
        <span class="bar" [style.width.%]="rate"> </span>
        <span class="value">{{rate}}</span>
    </div>
</div>