.box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    > * {
        box-sizing: inherit;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .ctrl {
        width: 100%;
        height: 60%;
        position: relative;
        &.Equipment_Off_Line {
            background-color: yellow;
        }
        &.Attempt_On_Line {
            background-color: skyblue;
        }
        &.Host_Off_Line {
            background-color: teal;
        }
        &.Local {
            background-color: darkmagenta;
        }
        &.Remote {
            background-color: greenyellow;
        }
        &.None {
            background-color: gray;
        }
        > * {
            width: 17%;
            border: 1px solid black;
        }
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: none;
        }
        .port {
            height: 30%;
            position: absolute;
            bottom: 0;
            left: 0;
            &.Up {
                background-color: springgreen;
            }
            &.Down {
                background-color: red;
            }
        }
        .right {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            align-content: stretch;
            > * {
                height: 33%;
                text-align: center;
                &:before {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    width: 0;
                    vertical-align: middle;
                }
            }
            .sc {
                &.SCInit {
                    background-color: skyblue;
                }
                &.Paused {
                    background-color: yellow;
                }
                &.Auto {
                    background-color: springgreen;
                    &.Pausing {
                        background-color: violet;
                    }
                    &.None {
                        background-color: gray;
                    }
                }
            }
            .mc {
                border: 1px solid black;
                background-color: gray;
            }
            .cs {
                &.Communication {
                    background-color: springgreen;
                }
                &.None_Communication {
                    background-color: red;
                }
                &.None {
                    background-color: gray;
                }
            }
        }
    }
    .progress {
        width: 100%;
        height: 20%;
        position: relative;
        .bar {
            position: absolute;
            background-color: chartreuse;
            top: 0;
            left: 0;
            height: 100%;
            &.springgreen {
                background-color: springgreen;
            }
            &.skyblue {
                background-color: skyblue;
            }
            &.red {
                background-color: red;
            }
        }
        .value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
