$first-layer: 0;
$center-height: 100;
.app {
    width: 80vw;
    height: 100%;
    margin: auto;
}
.canvas {
    position: relative;
    > * {
        position: absolute;
    }
    .stk01 {
        top: 0px;
        bottom: 0;
        right: 10%;
        width: 20%;
        z-index: 1;
    }
    .zstk01 {
        width: 200px;
        height: 100px;
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 3;
    }
}

.track {
    border: 10px solid green;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &::before,
    &:after {
        content: "";
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
// .canvas {
//     position: relative;
//     width: 100vw;
//     height: 100vh;
//     .canvas {
//         width: 100%;
//         height: 100%;
//     }
//     > * {
//         position: absolute;
//     }
//     .first-layer {
//         top: $first-layer;
//         left: 0;

//         + .background{
//             width: 1200;
//         }
//         + .right {
//             left: 800px;
//         }
//     }
//     .bottom-left {
//         top: $center-height;
//         left: 0;
//         z-index: 2;
//     }
//     .bottom-right {
//         top: $center-height;
//         left: 250px;
//     }
// }
