<!-- <router-outlet></router-outlet> -->
<div class="app">
  <div class="canvas" style="width: 1200px; height: 100px; margin: auto;margin-bottom: 30px;">
    <app-chip class="stk01" [mark]="'STK01'">
      <app-arrowItem [enable]=true [tag]="'M02'" [deg]=0 [width]=20 [height]=30 [side]="'Down'" [distance]=90>
      </app-arrowItem>
      <app-arrowItem [enable]=false [tag]="'M02'" [deg]=-180 [width]=20 [height]=30 [side]="'Down'" [distance]=150>
      </app-arrowItem>
      <app-arrowItem [enable]=false [tag]="'M02'" [deg]=-0 [width]=20 [height]=90 [side]="'Down'" [distance]=200>
      </app-arrowItem>
    </app-chip>
  </div>
  <div class="canvas" style="width: 1200px; height: 300px; margin: auto;">
    <div style="top: 0;bottom: 0;left: 0; right: 0;">
      <div class="track" [style.border-top-right-radius.px]="120"> </div>
    </div>
    <div style="top: 0;bottom: 0;left: 0; width: 58%;">
      <div class="track" [style.border-top-right-radius.px]="120"> </div>
    </div>
    <div style="top: 0;bottom: 0;right: 0;width: 40%;">
      <div class="track" [style.border-top-right-radius.px]="120">
        <app-chip class="zstk01" [mark]="'ZSTK01'">
          <app-arrowItem [enable]=true [tag]="'M02'" [deg]=180 [width]=20 [height]=30 [side]="'Up'" [distance]=60>
          </app-arrowItem>
          <app-arrowItem [enable]=false [tag]="'M02'" [deg]=-0 [width]=20 [height]=30 [side]="'Up'" [distance]=120>
          </app-arrowItem>
          <app-arrowItem [enable]=false [tag]="'M02'" [deg]=-0 [width]=20 [height]=30 [side]="'Down'" [distance]=120>
          </app-arrowItem>
        </app-chip>
      </div>
    </div>
    <div style="bottom: 0;left: 20%;width: 10%; height: 15%;">
      <div class="track" [style.border-top-right-radius.px]="18" [style.border-top-left-radius.px]="18"> </div>
    </div>
    <div style="bottom: 0;left: 35%;width: 10%; height: 15%;">
      <div class="track" [style.border-top-right-radius.px]="18" [style.border-top-left-radius.px]="18"> </div>
    </div>
  </div>
  <div class="canvas" style="width: 1200px; height: 60px; margin: auto;">
    <div style="top: -10px;bottom: 0;left: 5%;width: 20%; z-index: 1;">
      <div class="track" [style.border-bottom-right-radius.px]="45" [style.border-bottom-left-radius.px]="45"> </div>
    </div>
    <div style="top: -10px;bottom: 0;left: 20%;width: 30%;">
      <div class="track" [style.border-bottom-right-radius.px]="45"> </div>
    </div>
  </div>
</div>
<!-- <dx-list [dataSource]="tasks" [height]="400" [allowItemDeleting]="allowDeleting" [itemDeleteMode]="deleteType"
  [showSelectionControls]="true" selectionMode="multiple" >
</dx-list> -->
<div style="width: 200px; height: 120px;">
  <app-stk [title]="'STK01'" [options]="stkOptions"></app-stk>
</div>

<dx-button stylingMode="contained" text="Contained" type="normal" [width]="120" (onClick)="click($event)">
</dx-button>