<div class="arrow" [style.background-color]="enable ? 'blue':'red'" [style.transform]="'rotate('+deg+'deg)'"
    (click)="onclick($event)">
    <div class="triangle" [style.border-width.px]="width?width/2:0" [style.margin-top.%]="-30"></div>
    <div class="square"></div>
</div>
<!-- [style.width.px]="width ? width/3 : 0" [style.height.px]="height? height/2 : 0" -->
<!-- [style.border-width.px]="width ? width/3 : 0"
[style.border-bottom-width.px]="width ? width/3 : 0" -->