.arrow {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; // position: relative;
    flex-wrap: nowrap;
    .triangle {
        border-style: solid;
        border-color: transparent;
        border-bottom-color: white;
        border-bottom-style: solid;
        // height: 20%;
        // width: 100%;
        // position: absolute;
        // top: 10%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .square {
        width: 100%;
        // position: absolute;
        // bottom: 20%;
        // left: 50%;
        // transform: translate(-50%, 0%);
        // background-color: white;
        flex: 1;
        position: relative;
        &::before,
        &:after {
            content: "";
            background-color: white;
            position: absolute;
            width: 40%;
            height: 80%;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
        }
    }
}
