<div class="track" [style.width.px]="width ? width : 300" [style.height.px]="hight? hight : 100"
    [style.border-top-right-radius.px]="top_right ? top_right : 10"
    [style.border-top-left-radius.px]="top_left ? top_left : 10"
    [style.border-bottom-right-radius.px]="bottom_right ? bottom_right : 10"
    [style.border-bottom-left-radius.px]="bottom_left ? bottom_left : 10">
    <div class="fill">

    </div>
</div>