$border-radius: 10px;
.track {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    overflow: hidden;
    .fill {
        background-color: white;
        width: 100%;
        height: 100%;
    }
}
