.chip {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: turquoise;
    border: 1px solid black;
    border-radius: 10px;
    > * {
        position: absolute;
    }
    .top{
        top :-30;
    }
    .mark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: larger;
    }  
}
