<div class="chip">
    <span class="mark">{{mark}}</span>
    <div *ngFor="let arrow of arrows;  let i = index" [style.width.px]="arrow.width" [style.height.px]="arrow.height"
        [style.left.px]="arrow.width?i * arrow.width :i *20" [ngStyle]="getStyles(arrow)">
        <app-arrow [enable]="arrow.enable" [deg]="arrow.deg" [tag]="arrow.tag" [width]="arrow.width"
            [height]="arrow.height"> </app-arrow>
    </div>
</div>

<!-- [ngStyle] ="{'top': `${arrow.height}px`; 'left':`${arrow.distance}px` }" -->
<!-- [ngStyle]="arrow.side =='top'?{'top': `${arrow.height}px`; 'left':`${arrow.distance}px` } : arrow.side =='bottom'? " -->